* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #e9e7de;
  color: #222;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 12pt;
}

h1 {
  font-size: 18pt;
}

a {
  color: #555;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #666;
}

a:hover {
  text-decoration: underline;
}

.app {
  padding: 5pt;
  position: relative;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

input[type="radio"] {
  margin-right: 0.2em;
  cursor: pointer;
}

input[type="radio"] + label {
  margin-right: 1em;
  cursor: pointer;
}

#help-button {
  font-size: smaller;
  cursor: pointer;
}

p {
  margin: 5pt auto;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.msg-container {
  background-color:rgb(238, 143, 0);
}

#msg {
  font-weight: bold;
  vertical-align: middle;
}

.error {
  color: rgb(223, 53, 53);
}

.hidden {
  display: none !important;
}

.show {
  display: block;
}

#loader-icon {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: middle;
}

.hide {
  animation-delay: 3s;
  animation-duration: 340ms;
  animation-name: hide;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.greyout {
  opacity: 0.5;
}

table {
  margin: 12pt 12pt 8pt 0;
}

table, td, th {
  border-collapse: collapse;
}

table > caption {
  font-size: 12pt;
  font-weight: bold;
  text-align: left;
  border: 1px solid #333;
  color: #eee;
  background-color: #333;
  padding-left: 0.2em;
}

td, th {
  border: 1px solid #333;
  padding: 0.2ex 0.4em 0.2ex 0.2em;
}

th {
  text-align: left;
}

tfoot td {
  font-size: smaller;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

header, footer {
  left: 0;
  right: 0;
  background-color: #333;
  color: #eee;
}

header {
  border-bottom: 1px solid #222;
}

footer {
  position: fixed;
  bottom: 0;
  vertical-align: middle;
}

footer > p, header > h1 {
  padding: 0 0.5em;
}

footer a {
  color: #ddd;
}

footer a:visited {
  color: #ccc;
}

#output-pane, #input-pane {
  background-color: white;
  color: black;
  font-family: 'Roboto Mono', monospace;
  font-size: 12pt;
  padding: 4pt;
  width: 100%;
  height: 30%;
  border: 1px solid #444;
  margin-bottom: 1ex;
}

#input-pane {
  min-height: 4ex;
  word-break: break-all;
  overflow-y: auto;
  width: auto;
}

#output-pane {
  word-break: break-all;
  overflow-y: auto;
  width: auto;
  max-height: 200px;
}

.result-container {
  margin-bottom: 1ex;
}

.expression {
  padding: 0 0.2em;
  background-color:rgb(238, 143, 0);
  color: white;
  display: inline-block;
}

.result {
  padding: 0 0.2em;
  display: inline;
}
